.send-emails-page {
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 40px;
    margin-bottom: 20px;
  }
  
  .checkbox-container button {
    margin-left: 20px; /* Adjust the distance as needed */
  }
  
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table, th, td {
    border: 1px solid #999494;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  button {
    
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p.error {
    color: red;
  }
  
  p.success {
    color: green;
  }
  .btnSubmit
 {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 40px;
    
  }