body{
  background-color: #e99ef5; 
}

.employee-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 80vh;

  background-color: #e99ef5;
}

.employee-form {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: #b774cd;
}

.title1 {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.employee-form div {
  margin-bottom: 15px;
}

.employee-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.employee-form input {
  width: 90%;
  padding: 8px;
  border: 1px solid #7e7474;
  border-radius: 4px;
}

.sub {
  text-align: center;
  width: 100%;

 
}
.button
{
  font-size: 19px;
  font-weight: 600;
  background-color: #1c07ff;
  border: 1.5px solid #0f0f0f;
  width: 80%;
}

.success-message {
  color: green;
  text-align: center;
}

.error-message {
  color: red;
  text-align: center;
}
